.body132{
    margin: 0;
    padding: 0;
}

#header-img {
    overflow: hidden; 
    margin: 0;
    padding: 0;
}

#nav{
    color: white;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top: -50px;
    margin-right: -1250px;
}

#logo{
    margin-top: -1050px;
    margin-left: 50px;
}

#slogan{
    text-align: center;
    margin-top: 150px;
    font-size: 38px;
    color: white;
}

.mc{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
    font-size: 30px;
}

#mc1{
    margin-top: 70px;
    margin-right: 40px;
}

#mc2{
    margin-top: -10px;
    margin-right: -138px;
}

.more{
    margin-top: 25px;
    text-align: center;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #7accc8;
    background-color: #172132;
    border-radius: 10px 10px 10px 10px;
    margin-right: 880px;
    margin-left: 880px;
    box-shadow: 7px 7px 20px black;
}

#head{
    margin-top: 700px;
    text-align: center;
    color: #172132;
}

#lorem1{
    margin-top: -25px;
    text-align: center;
    font-size: 15px;
    color: black;
}

#video{
    overflow: hidden; 
    margin: 0;
    padding: 0;
    background-image: url("img/body1.png");
    height: 1080px;
    width: 1920px;
    background-repeat: no-repeat;
}

#video-body1{
    margin-top: 150px;
    margin-left: 670px;
    width: 560px;
    height: 315px;
    border: solid #181717 5px;
}

#watch{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-top: -500px;
    text-align: center;
    color: black;
}

#our-work{
    text-align: center;
    font-size: 30px;
}

#prison-img{
    background-image: url(img/prison.png);
    background-repeat: no-repeat;
    height: 337px;
    width: 653px;
    margin-left: 620px;
    margin-top: 50px;
}

#prison{
    margin-top: 200px;
}

#team{
    text-align: center;
    font-size: 35px;
    margin-top: 200px;
    color: white;
}

#body2-img{
    background-image: url("img/body2.png");
    height: 844px;
    width: 1900px;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: contain;
}

#team{
    margin-top: 50px;
}

#team-lorem{
    font-size: 14px;
    height: -20px;
    color: white;
    text-align: center;
}

#orest{ 
    color: white;
    background-color: white;
    height: 430px;
    width: 300px;
    margin-left: 170px;
    margin-top: 100px;
    background-image: url(img/gladiy.png);
    background-repeat: no-repeat;
}

#vlad{ 
    color: white;
    background-color: white;
    height: 430px;
    width: 300px;
    margin-left: 580px;
    margin-top: -430px;
    background-image: url(img/KISILEVSKI.png);
    background-repeat: no-repeat;
}

#yura{ 
    color: white;
    background-color: white;
    height: 430px;
    width: 300px;
    margin-left: 1000px;
    margin-top: -430px;
    background-image: url(img/SLABADAN.png);
    background-repeat: no-repeat;
}

#vitalik{ 
    color: white;
    background-color: white;
    height: 430px;
    width: 300px;
    margin-left: 1400px;
    margin-top: -430px;
    background-image: url(img/HARUK.png);
    background-repeat: no-repeat;
}

#feedback-up{
    font-size: 30px;
    margin-left: 300px;
    font-family: 'Times New Roman', Times, serif;
}

.table{
    font-size: 14px;
    color: grey;
    margin-top: 50px;
    margin-left: 200px;
}

#name-table{
    height: 35px;
    width: 400px;
    margin-top: 10px;
    margin-left: 3px;
}

#email-table{
    height: 35px;
    width: 400px;
    margin-top: 10px;
    margin-left: 3px;
}

#number-table{
    height: 35px;
    width: 400px;
    margin-top: 10px;
    margin-left: 3px;
}

#message-table{
    height: 135px;
    width: 400px;
    margin-top: 10px;
    margin-left: 3px;
}

#button-table{
    margin-top: 10px;
    margin-left: 140px;
    height: 30px;
    width: 100px;
}

.client{
    font-family: 'Times New Roman', Times, serif;
}

#happy-client{
    font-size: 30px;
    text-align: center;
    margin-left: 950px;
    margin-top: -420px;
}

#happyclient-img{
    margin-top: 100px;
    margin-left: 1115px;
    height: 600px;
    width: 600px;
    background-image: url(img/happyclient.png);
    background-repeat: no-repeat;
}

footer{
    margin-top: -230px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
    overflow: hidden;
}

#footer-bg{
    background-image: url(img/footer.png);
    background-repeat: no-repeat;
    height: 516px;
    width: 1920px;
}

.footer-studio{
    font-size: 30px;
    margin-left: -1200px;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#footer-info{
    margin-top: 20px;
    font-size: 14px;
}

#location{
    height: 30px;
    width: 30px;
}

#phone{
    height: 30px;
    width: 30px;
    margin-left: -95px;
}

#footer-logo{
    background-image: url(img/logo.png);
    height: 84px;
    width: 154px;
    background-repeat: no-repeat;
    margin-left: 875px;
    margin-top: -450px;
}

#footer-text{
    margin-top: -150px;
}

#footer-nav{
    margin-top: 250px;
}

#footer-cop{
    font-size: 14px;
    color: grey;
}

#stay{
    margin-top: -150px;
}

#stay-h{
    font-size: 30px;
    margin-left: 1200px;
}

#footer-table{
    margin-left: 1200px;
    height: 30px;
    width: 160px;
}

#footer-button{
    margin-top: 1px;
}

#social{
    margin-left: 1200px;
}

.preloader{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #182132;
    z-index: 2;
    transition: 1s all;
    opacity: 1;
    visibility: visible;
}

.preloader-2{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #172132;
    z-index: 2;
    transition: 1s all;
    opacity: 1;
    visibility: visible;
}

.loader{
    height: 75px;
    width: 75px;
    border: 10px solid white;
    border-radius: 50%;
    border-top-color: blue;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: 1s spin infinite linear;
}

.done {
    opacity: 0;
    visibility: hidden;
}

@keyframes spin{
    from{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}